<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ulima.somoviles.expoulima"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity 
            android:name="ulima.isw2.expoulima.MainActivity">
            <intent-filter >
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="ulima.isw2.expoulima.InscribeteActivity"/>
    </application>

</manifest>
